DATABASE_URL=mysql+aiomysql://root:rootpassword@mysql:3306/energy_rule_db
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
SERVICE_NAME=rule-engine-service
LOG_LEVEL=INFO

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=

TELEGRAM_BOT_TOKEN=
